@use "sass:map";

$default-font-color: #777;
$h-primary-color: #58e1c1;
$h-secondary-color: #777;
$link-color: #51ddfc;
$nav-link-hover-color: #fff;

$button-font-color: #fff;
$button-bg-color: (
  ".error" : #e4757a,
  ".info" : #927bc1,
  ".success" : #63cc82,
  ".warning" : #fd7856
);

// bg color for grid columns is picked from the color wheel depending on the number of column
// the option below is for the starting color of the first col class
$grid-col-bg-start-color: red;

$img-frame-color: #ccc;

$mq-breakpoints: (
  "medium" : 768px
);
