/* ============================================= */
/*              Buttons                          */
/* ============================================= */

@use "sass:map";

.btn {
  margin-top: 15px;
  width: 100%;
  color: $button-font-color;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

@each $btn-class, $bg-color in $button-bg-color {
  .#{$btn-class} {
    background-color: $bg-color;
  }
}
