/* ============================================= */
/*              Buttons                          */
/* ============================================= */

@use "sass:map";

.btn {
  margin-top: 15px;
  width: 100%;
  color: $button-font-color;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

.default {
  background-color: $link-color;
}

.error {
  background-color: map.get($button-bg-color, &);
}

.info {
  background-color: map.get($button-bg-color, &);
}

.success {
  background-color: map.get($button-bg-color, &);
}

.warning {
  background-color: map.get($button-bg-color, &);
}
