/* ============================================= */
/*              Media Queries                    */
/* ============================================= */
@use "sass:map";

@media (min-width: map.get($mq-breakpoints, "medium")) {

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  @extend .centered;
  max-width: 1400px;
}

.row {
  flex-direction: row;
}

[class^=col] {
  display: flex;
  justify-content: center;
  margin-top: 0;
  align-items: center;
}

[class^=col] + [class^=col] {
  margin-left: 10px;
}

@for $i from 1 through $grid-col-num {
  .col-#{$i} {
    flex-basis: $i * 100% / $grid-col-num;
  }
}

.nav {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  &-link {
    flex-basis: 100px;
  }
}

.btn {
  padding: 10px 30px;
}

.btn + .btn {
  margin-left: 10px;
}

.logo {
  margin-left: initial;
  margin-right: initial;
}

}
